@use "colors";

.close {
    font-size: 30px;
}

.rating-section {
    display: flex;
    align-items: center;

    .rate {
        background-color: colors.$pink;
        color: white;
        width: 35px;
        border-radius: 3px;
        margin-right: 5px;
        text-align: center;
    }

    .star {
        color: colors.$yellow;
        font-size: 20px;
    }
}

.withdraw-button {
    background-color: colors.$red;
    color: white;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}