@use "styles/_colors.scss";

h5 {
  color: colors.$red;
  font-weight: 500;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 700;
}

h2, h3, h4 {
  font-weight: 500;
}

p {
  font-weight: 400;
}